
.bg-glance1 {
  background-image: url(../img/shot-constituencies170608.jpg);
  background-size: 120%;
  background-position: center 20%;
}

.bg-glance2 {
  background-image: url(../img/shot-constituencies170608.jpg);
  background-size: 120%;
  background-position: center 20%;
}

.bg-glance3 {
  background-image: url(../img/shot-constituencies170608.jpg);
  background-size: cover;  background-position: center 5%;
}


.bg-tna4 {
  background-image: url(../img/port-tna-research.jpg);
  background-position:center;
  background-size: cover;}

.bg-tna5 {
  background-image: url(../img/port-tna-imagelib2.jpg);
  background-position:center;
  background-size: cover;}

.bg-mixes {
  background-image: url(../img/mix-ghostfood.jpg);
  background-size: 120%;
  background-position: center 20%;
}

.bg-design {
  background-image: url(../img/owlbook.jpg);
  background-size: 120%;
  background-position: center 25%;
}

.bg-pictures {
    background-image: url(../img/pics-flickr.jpg);
  background-size: 110%;
  background-position: center 30%;
}


.bg-music-favehits1 {
  background-image: url(../img/shot-music-favehits1.jpg);
  background-position:center;
  background-size: cover;}

.bg-2005 {
    background-image: url(../img/face-rihanna.gif);
    background-size: cover;    background-position: 19%;
}
.bg-1975 {
  background-image: url(../img/face-donna.gif);
  background-size: 120%;
  background-position: center 30%;
}



/* PORTFOLIO IMAGES */


.bg-43 {
  background-image: url(http://ghostfood.uk/img/design/des-screenscomp-flightcentre.png);
  background-position:center center;
}

.bg-42 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-bizmat.jpg);
  background-position:center center;
}

.bg-41d {
  background-image: url(http://ghostfood.uk/img/design/client/edcoms/bpes/view-tablet-bpes-styleguide.png);
  background-position:center center;
}
.bg-41c {
  background-image: url(http://ghostfood.uk/img/design/client/edcoms/bpes/view-tablet-bpes-resources.png);
  background-position:center center;
}
.bg-41b {
  background-image: url(http://ghostfood.uk/img/design/client/edcoms/bpes/view-tablet-bpes-icons.png);
  background-position:center center;
}
.bg-41a {
  background-image: url(http://ghostfood.uk/img/design/client/edcoms/bpes/view-tablet-bpes-concept1.png);
  background-position:center center;
}
.bg-41 {
  background-image: url(http://ghostfood.uk/img/design/des-screenscomp-bpes.png);
  background-position:center center;
}


.bg-40 {
  background-image: url(http://ghostfood.uk/img/design/des-screenscomp-ultramix.png);
  background-position:center center;
}

.bg-39a {
  background-image: url(http://ghostfood.uk/img/design/client/edcoms/view-tablet-phec4l-banners1.png);
  background-position:center center;
}

.bg-39 {
  background-image: url(http://ghostfood.uk/img/design/des-screenscomp-startprofile.png);
  background-position:center center;
}


.bg-38 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-weather-symbols.png);
    background-position:center 40%;
  background-size: cover;
}
.bg-37 {
  background-image: url(http://ghostfood.uk/img/design/ataglance-motif1a.png);
  background-position:center;
  background-size: cover;}

.bg-36 {
  background-image: url(http://ghostfood.uk/img/design/port-euro16a.png);
  background-position:center;
  background-size: cover;}

.bg-35 {
  background-image: url(http://ghostfood.uk/img/design/football-tables-epl25b.png);
    background-size: 100%;
    background-position: left 10%;
}

.bg-33 {
  background-image: url(http://ghostfood.uk/img/design/des-screenscomp-dualmlis1.png);
  background-position:center center;
  }

.bg-32 {
  background-image: url(http://ghostfood.uk/img/design/des-screenscomp-ukcharthits.png);
  background-position:center 30%;
  }



.bg-31d {
  background-image: url(http://ghostfood.uk/img/design/client/dual/view-tablet-dual-mlis-artwork.png);
  background-position:center center;
}
.bg-31c {
  background-image: url(http://ghostfood.uk/img/design/client/dual/view-tablet-dual-mlis-brands.png);
  background-position:center center;
}
.bg-31b {
  background-image: url(http://ghostfood.uk/img/design/client/dual/view-tablet-dual-mlis-quotes.png);
  background-position:center center;
}
.bg-31a {
  background-image: url(http://ghostfood.uk/img/design/client/dual/view-tablet-dual-mlis-products.png);
  background-position:center center;
}
.bg-31 {
  background-image: url(http://ghostfood.uk/img/design/client/dual/view-tablet-dual-mlis-proto.png);
  background-position:center center;
}

.bg-30 {
  background-image: url(http://ghostfood.uk/img/design/ataglance/ss-toshlist-home1.gif);
  background-position: center 100%;
  background-size: 100%;
}

.bg-29 {
  background-image: url(http://ghostfood.uk/img/design/des-screenscomp-ataglance1.png);
  background-position:center center;
  background-size: contain;
}


.bg-28f {
  background-image: url(http://ghostfood.uk/img/design/client/tna/view-tablet-tna-techreboot.png);
  background-position:center center;
  }
.bg-28e {
  background-image: url(http://ghostfood.uk/img/design/client/tna/view-tablet-tna-worldthroughalens.png);
  background-position:center center;
  }
.bg-28d {
  background-image: url(http://ghostfood.uk/img/design/client/tna/view-tablet-tna-rtreport.png);
  background-position:center center;
  }
.bg-28c {
  background-image: url(http://ghostfood.uk/img/design/client/tna/view-tablet-tna-olympics.png);
  background-position:center center;
  }
.bg-28b {
  background-image: url(http://ghostfood.uk/img/design/client/tna/view-tablet-tna-designguide.png);
  background-position:center center;
  }
.bg-28a {
  background-image: url(http://ghostfood.uk/img/design/client/tna/view-tablet-tna-wireframes.png);
  background-position:center center;
  }
.bg-28 {
  background-image: url(http://ghostfood.uk/img/design/des-screenscomp-nationalarchives.png);
  background-position:center center;
  }


.bg-27 {
  background-image: url(http://ghostfood.uk/img/design/ultramix/ultramix-titles-90s.gif);
      background-position:center;
  background-size: cover;}
.bg-26 {
  background-image: url(http://ghostfood.uk/img/design/client/tna/port-design-collection.png);
        background-size: 100%;
  background-position: center 10%;
}
.bg-25 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-walter.jpg);
    background-position:center 40%;
  background-size: 100%;

}
.bg-24 {
  background-image: url(http://ghostfood.uk/img/design/ultramix/port-ultramix2.png);
      background-position:center top;
  background-size: 120%;
}
.bg-23 {
  background-image: url(http://ghostfood.uk/img/design/client/tna/port-designguide.png);
      background-size: 105%;
  background-position: center 5%;
}
.bg-22 {
  background-image: url(http://ghostfood.uk/img/design/graphics/piechart_med.jpg);
          background-size: 150%;
    background-position: center 40%;
}

.bg-21 {
  background-image: url(http://ghostfood.uk/img/design/des-screenscomp-freakytrigger.png);
  }

.bg-20 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-abominotions.jpg);
  background-size: cover;  
  background-position: center 85%;
}

.bg-19 {
  background-image: url(http://ghostfood.uk/img/design/client/tna/port-tnaolympic1.png);
}

.bg-18 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-selfportrait.jpg);
  background-size: 200%;
  background-position: center center;
}

.bg-17 {
  background-image: url(http://ghostfood.uk/img/design/client/tna/port-tnazeitgeist.png);
    background-size: 120%;
  background-position: 30% 50%;
}
.bg-16 {
  background-image: url(http://ghostfood.uk/img/design/client/tna/port-tnatalasia.png);
}
.bg-15 {
  background-image: url(http://ghostfood.uk/img/design/graphics/mindyourself.jpg);
      background-size: 100%;
  background-position: center 75%;
}
.bg-14 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-adventure.jpg);
  background-position: center 15%;
  background-size: cover;}
.bg-13 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-maquette75black.jpg);
}
.bg-12 {
  background-image: url(http://ghostfood.uk/img/design/client/tna/tna-blog-2012.png);
    background-size: 110%;
  background-position: 30% 50%;
}
.bg-11 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-ultramixposter1.jpg);
      background-size: 100%;
  background-position: center 33%;
}
.bg-10 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-typex1.jpg);
      background-size: cover;    
      background-position: center;
}
.bg-09 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-owlbook.jpg);
        background-size: 100%;
    background-position: center;
}
.bg-08 {
  background-image: url(http://ghostfood.uk/img/design/graphics/port-graphic-bloodondancefloor.jpg);
      background-size: 100%;
    background-position: 30% 50%;
}
.bg-07 {
  background-image: url(http://ghostfood.uk/img/design/graphics/gf11avatar-og.png);
      background-size: 100%;
    background-position: center;
}
.bg-03 {
  background-image: url(http://ghostfood.uk/img/design/client/popjustice/port-popjustice.jpg);
  background-size: cover;    
  background-position: 30% 50%;
}