

.bg-8089-100 { background-image: url(../img/music/videos/fave-100-8089-100a.jpg);}
.bg-8089-099 { background-image: url(../img/music/videos/fave-100-8089-099a.jpg);}
.bg-8089-098 { background-image: url(../img/music/videos/fave-100-8089-098a.jpg);}
.bg-8089-097 { background-image: url(../img/music/videos/fave-100-8089-097a.jpg);}
.bg-8089-096 { background-image: url(../img/music/videos/fave-100-8089-096a.jpg);}
.bg-8089-095 { background-image: url(../img/music/videos/fave-100-8089-095a.jpg);}
.bg-8089-094 { background-image: url(../img/music/videos/fave-100-8089-094a.jpg);}
.bg-8089-093 { background-image: url(../img/music/videos/fave-100-8089-093a.jpg);}
.bg-8089-092 { background-image: url(../img/music/videos/fave-100-8089-092a.jpg);}
.bg-8089-091 { background-image: url(../img/music/videos/fave-100-8089-091a.jpg);}
.bg-8089-090 { background-image: url(../img/music/videos/fave-100-8089-090a.jpg);}
.bg-8089-089 { background-image: url(../img/music/videos/fave-100-8089-089a.jpg);}
.bg-8089-088 { background-image: url(../img/music/videos/fave-100-8089-088a.jpg);}
.bg-8089-087 { background-image: url(../img/music/videos/fave-100-8089-087a.jpg);}
.bg-8089-086 { background-image: url(../img/music/videos/fave-100-8089-086a.jpg);}
.bg-8089-085 { background-image: url(../img/music/videos/fave-100-8089-085a.jpg);}
.bg-8089-084 { background-image: url(../img/music/videos/fave-100-8089-084a.jpg);}
.bg-8089-083 { background-image: url(../img/music/videos/fave-100-8089-083a.jpg);}
.bg-8089-082 { background-image: url(../img/music/videos/fave-100-8089-082a.jpg);}
.bg-8089-081 { background-image: url(../img/music/videos/fave-100-8089-081a.jpg);}
.bg-8089-080 { background-image: url(../img/music/videos/fave-100-8089-080a.jpg);}
.bg-8089-079 { background-image: url(../img/music/videos/fave-100-8089-079a.jpg);}
.bg-8089-078 { background-image: url(../img/music/videos/fave-100-8089-078a.jpg);}
.bg-8089-077 { background-image: url(../img/music/videos/fave-100-8089-077a.jpg);}
.bg-8089-076 { background-image: url(../img/music/videos/fave-100-8089-076a.jpg);}
.bg-8089-075 { background-image: url(../img/music/videos/fave-100-8089-075a.jpg);}
.bg-8089-074 { background-image: url(../img/music/videos/fave-100-8089-074a.jpg);}
.bg-8089-073 { background-image: url(../img/music/videos/fave-100-8089-073a.jpg);}
.bg-8089-072 { background-image: url(../img/music/videos/fave-100-8089-072a.jpg);}
.bg-8089-071 { background-image: url(../img/music/videos/fave-100-8089-071a.jpg);}
.bg-8089-070 { background-image: url(../img/music/videos/fave-100-8089-070a.jpg);}
.bg-8089-069 { background-image: url(../img/music/videos/fave-100-8089-069a.jpg);}
.bg-8089-068 { background-image: url(../img/music/videos/fave-100-8089-068a.jpg);}
.bg-8089-067 { background-image: url(../img/music/videos/fave-100-8089-067a.jpg);}
.bg-8089-066 { background-image: url(../img/music/videos/fave-100-8089-066a.jpg);}
.bg-8089-065 { background-image: url(../img/music/videos/fave-100-8089-065a.jpg);}
.bg-8089-064 { background-image: url(../img/music/videos/fave-100-8089-064a.jpg);}
.bg-8089-063 { background-image: url(../img/music/videos/fave-100-8089-063a.jpg);}
.bg-8089-062 { background-image: url(../img/music/videos/fave-100-8089-062a.jpg);}
.bg-8089-061 { background-image: url(../img/music/videos/fave-100-8089-061a.jpg);}
.bg-8089-060 { background-image: url(../img/music/videos/fave-100-8089-060a.jpg);}
.bg-8089-059 { background-image: url(../img/music/videos/fave-100-8089-059a.jpg);}
.bg-8089-058 { background-image: url(../img/music/videos/fave-100-8089-058a.jpg);}
.bg-8089-057 { background-image: url(../img/music/videos/fave-100-8089-057a.jpg);}
.bg-8089-056 { background-image: url(../img/music/videos/fave-100-8089-056a.jpg);}
.bg-8089-055 { background-image: url(../img/music/videos/fave-100-8089-055a.jpg);}
.bg-8089-054 { background-image: url(../img/music/videos/fave-100-8089-054a.jpg);}
.bg-8089-053 { background-image: url(../img/music/videos/fave-100-8089-053a.jpg);}
.bg-8089-052 { background-image: url(../img/music/videos/fave-100-8089-052a.jpg);}
.bg-8089-051 { background-image: url(../img/music/videos/fave-100-8089-051a.jpg);}
.bg-8089-050 { background-image: url(../img/music/videos/fave-100-8089-050a.jpg);}
.bg-8089-049 { background-image: url(../img/music/videos/fave-100-8089-049a.jpg);}
.bg-8089-048 { background-image: url(../img/music/videos/fave-100-8089-048a.jpg);}
.bg-8089-047 { background-image: url(../img/music/videos/fave-100-8089-047a.jpg);}
.bg-8089-046 { background-image: url(../img/music/videos/fave-100-8089-046a.jpg);}
.bg-8089-045 { background-image: url(../img/music/videos/fave-100-8089-045a.jpg);}
.bg-8089-044 { background-image: url(../img/music/videos/fave-100-8089-044a.jpg);}
.bg-8089-043 { background-image: url(../img/music/videos/fave-100-8089-043a.jpg);}
.bg-8089-042 { background-image: url(../img/music/videos/fave-100-8089-042a.jpg);}
.bg-8089-041 { background-image: url(../img/music/videos/fave-100-8089-041a.jpg);}
.bg-8089-040 { background-image: url(../img/music/videos/fave-100-8089-040a.jpg);}
.bg-8089-039 { background-image: url(../img/music/videos/fave-100-8089-039a.jpg);}
.bg-8089-038 { background-image: url(../img/music/videos/fave-100-8089-038a.jpg);}
.bg-8089-037 { background-image: url(../img/music/videos/fave-100-8089-037a.jpg);}
.bg-8089-036 { background-image: url(../img/music/videos/fave-100-8089-036a.jpg);}
.bg-8089-035 { background-image: url(../img/music/videos/fave-100-8089-035a.jpg);}
.bg-8089-034 { background-image: url(../img/music/videos/fave-100-8089-034a.jpg);}
.bg-8089-033 { background-image: url(../img/music/videos/fave-100-8089-033a.jpg);}
.bg-8089-032 { background-image: url(../img/music/videos/fave-100-8089-032a.jpg);}
.bg-8089-031 { background-image: url(../img/music/videos/fave-100-8089-031a.jpg);}
.bg-8089-030 { background-image: url(../img/music/videos/fave-100-8089-030a.jpg);}
.bg-8089-029 { background-image: url(../img/music/videos/fave-100-8089-029.jpg);}
.bg-8089-028 { background-image: url(../img/music/videos/fave-100-8089-028.jpg);}
.bg-8089-027 { background-image: url(../img/music/videos/fave-100-8089-027.jpg);}
.bg-8089-026 { background-image: url(../img/music/videos/fave-100-8089-026.jpg);}
.bg-8089-025 { background-image: url(../img/music/videos/fave-100-8089-025.jpg);}
.bg-8089-024 { background-image: url(../img/music/videos/fave-100-8089-024.jpg);}
.bg-8089-023 { background-image: url(../img/music/videos/fave-100-8089-023.jpg);}
.bg-8089-022 { background-image: url(../img/music/videos/fave-100-8089-022.jpg);}
.bg-8089-021 { background-image: url(../img/music/videos/fave-100-8089-021.jpg);}
.bg-8089-020 { background-image: url(../img/music/videos/fave-100-8089-020.jpg);}
.bg-8089-019 { background-image: url(../img/music/videos/fave-100-8089-019.jpg);}
.bg-8089-018 { background-image: url(../img/music/videos/fave-100-8089-018.jpg);}
.bg-8089-017 { background-image: url(../img/music/videos/fave-100-8089-017.jpg);}
.bg-8089-016 { background-image: url(../img/music/videos/fave-100-8089-016.jpg);}
.bg-8089-015 { background-image: url(../img/music/videos/fave-100-8089-015.jpg);}
.bg-8089-014 { background-image: url(../img/music/videos/fave-100-8089-014.jpg);}
.bg-8089-013 { background-image: url(../img/music/videos/fave-100-8089-013.jpg);}
.bg-8089-012 { background-image: url(../img/music/videos/fave-100-8089-012.jpg);background-position:right top;}
.bg-8089-011 { background-image: url(../img/music/videos/fave-100-8089-011.jpg);}
.bg-8089-010 { background-image: url(../img/music/videos/fave-100-8089-010.jpg);}
.bg-8089-009 { background-image: url(../img/music/videos/fave-100-8089-009.jpg);}
.bg-8089-008 { background-image: url(../img/music/videos/fave-100-8089-008.jpg);}
.bg-8089-007 { background-image: url(../img/music/videos/fave-100-8089-007.jpg);}
.bg-8089-006 { background-image: url(../img/music/videos/fave-100-8089-006.jpg);}
.bg-8089-005 { background-image: url(../img/music/videos/fave-100-8089-005.jpg);}
.bg-8089-004 { background-image: url(../img/music/videos/fave-100-8089-004.jpg);}
.bg-8089-003 { background-image: url(../img/music/videos/fave-100-8089-003.jpg);}
.bg-8089-002 { background-image: url(../img/music/videos/fave-100-8089-002.jpg);}
.bg-8089-001 { background-image: url(../img/music/videos/fave-100-8089-001.jpg);}


.bg-85-100 { background-image: url(../img/music/videos/fave-100-85-100a.jpg);}

.bg-85-099 { background-image: url(../img/music/videos/fave-100-85-099a.jpg);}
.bg-85-098 { background-image: url(../img/music/videos/fave-100-85-098a.jpg);}
.bg-85-097 { background-image: url(../img/music/videos/fave-100-85-097a.jpg);}
.bg-85-096 { background-image: url(../img/music/videos/fave-100-85-096a.jpg);}
.bg-85-095 { background-image: url(../img/music/videos/fave-100-85-095a.jpg);}
.bg-85-094 { background-image: url(../img/music/videos/fave-100-85-094a.jpg);}
.bg-85-093 { background-image: url(../img/music/videos/fave-100-85-093a.jpg);}
.bg-85-092 { background-image: url(../img/music/videos/fave-100-85-092a.jpg);}
.bg-85-091 { background-image: url(../img/music/videos/fave-100-85-091a.jpg);}
.bg-85-090 { background-image: url(../img/music/videos/fave-100-85-090a.jpg);}
.bg-85-089 { background-image: url(../img/music/videos/fave-100-85-089a.jpg);}
.bg-85-088 { background-image: url(../img/music/videos/fave-100-85-088a.jpg);}
.bg-85-087 { background-image: url(../img/music/videos/fave-100-85-087a.jpg);}
.bg-85-086 { background-image: url(../img/music/videos/fave-100-85-086a.jpg);}
.bg-85-085 { background-image: url(../img/music/videos/fave-100-85-085a.jpg);}
.bg-85-084 { background-image: url(../img/music/videos/fave-100-85-084a.jpg);}
.bg-85-083 { background-image: url(../img/music/videos/fave-100-85-083a.jpg);}
.bg-85-082 { background-image: url(../img/music/videos/fave-100-85-082a.jpg);}
.bg-85-081 { background-image: url(../img/music/videos/fave-100-85-081a.jpg);}
.bg-85-080 { background-image: url(../img/music/videos/fave-100-85-080a.jpg);}
.bg-85-079 { background-image: url(../img/music/videos/fave-100-85-079a.jpg);}
.bg-85-078 { background-image: url(../img/music/videos/fave-100-85-078a.jpg);}
.bg-85-077 { background-image: url(../img/music/videos/fave-100-85-077a.jpg);}
.bg-85-076 { background-image: url(../img/music/videos/fave-100-85-076a.jpg);}
.bg-85-075 { background-image: url(../img/music/videos/fave-100-85-075a.jpg);}
.bg-85-074 { background-image: url(../img/music/videos/fave-100-85-074a.jpg);}
.bg-85-073 { background-image: url(../img/music/videos/fave-100-85-073a.jpg);}
.bg-85-072 { background-image: url(../img/music/videos/fave-100-85-072a.jpg);}
.bg-85-071 { background-image: url(../img/music/videos/fave-100-85-071a.jpg);}
.bg-85-070 { background-image: url(../img/music/videos/fave-100-85-070a.jpg);}
.bg-85-069 { background-image: url(../img/music/videos/fave-100-85-069a.jpg);}
.bg-85-068 { background-image: url(../img/music/videos/fave-100-85-068a.jpg);}
.bg-85-067 { background-image: url(../img/music/videos/fave-100-85-067a.jpg);}
.bg-85-066 { background-image: url(../img/music/videos/fave-100-85-066a.jpg);}
.bg-85-065 { background-image: url(../img/music/videos/fave-100-85-065a.jpg);}
.bg-85-064 { background-image: url(../img/music/videos/fave-100-85-064a.jpg);}
.bg-85-063 { background-image: url(../img/music/videos/fave-100-85-063a.jpg);}
.bg-85-062 { background-image: url(../img/music/videos/fave-100-85-062a.jpg);}
.bg-85-061 { background-image: url(../img/music/videos/fave-100-85-061a.jpg);}
.bg-85-060 { background-image: url(../img/music/videos/fave-100-85-060a.jpg);}
.bg-85-059 { background-image: url(../img/music/videos/fave-100-85-059a.jpg);}
.bg-85-058 { background-image: url(../img/music/videos/fave-100-85-058a.jpg);}
.bg-85-057 { background-image: url(../img/music/videos/fave-100-85-057a.jpg);}
.bg-85-056 { background-image: url(../img/music/videos/fave-100-85-056a.jpg);}
.bg-85-055 { background-image: url(../img/music/videos/fave-100-85-055a.jpg);}
.bg-85-054 { background-image: url(../img/music/videos/fave-100-85-054a.jpg);}
.bg-85-053 { background-image: url(../img/music/videos/fave-100-85-053a.jpg);}
.bg-85-052 { background-image: url(../img/music/videos/fave-100-85-052a.jpg);}
.bg-85-051 { background-image: url(../img/music/videos/fave-100-85-051a.jpg);}
.bg-85-050 { background-image: url(../img/music/videos/fave-100-85-050a.jpg);}
.bg-85-049 { background-image: url(../img/music/videos/fave-100-85-049a.jpg);}
.bg-85-048 { background-image: url(../img/music/videos/fave-100-85-048a.jpg);}
.bg-85-047 { background-image: url(../img/music/videos/fave-100-85-047a.jpg);}
.bg-85-046 { background-image: url(../img/music/videos/fave-100-85-046a.jpg);}
.bg-85-045 { background-image: url(../img/music/videos/fave-100-85-045a.jpg);}
.bg-85-044 { background-image: url(../img/music/videos/fave-100-85-044a.jpg);}
.bg-85-043 { background-image: url(../img/music/videos/fave-100-85-043a.jpg);}
.bg-85-042 { background-image: url(../img/music/videos/fave-100-85-042a.jpg);}
.bg-85-041 { background-image: url(../img/music/videos/fave-100-85-041a.jpg);}
.bg-85-040 { background-image: url(../img/music/videos/fave-100-85-040a.jpg);}
.bg-85-039 { background-image: url(../img/music/videos/fave-100-85-039a.jpg);}
.bg-85-038 { background-image: url(../img/music/videos/fave-100-85-038a.jpg);}
.bg-85-037 { background-image: url(../img/music/videos/fave-100-85-037a.jpg);}
.bg-85-036 { background-image: url(../img/music/videos/fave-100-85-036a.jpg);}
.bg-85-035 { background-image: url(../img/music/videos/fave-100-85-035a.jpg);}
.bg-85-034 { background-image: url(../img/music/videos/fave-100-85-034a.jpg);}
.bg-85-033 { background-image: url(../img/music/videos/fave-100-85-033a.jpg);}
.bg-85-032 { background-image: url(../img/music/videos/fave-100-85-032a.jpg);}
.bg-85-031 { background-image: url(../img/music/videos/fave-100-85-031a.jpg);}
.bg-85-030 { background-image: url(../img/music/videos/fave-100-85-030a.jpg);}
.bg-85-029 { background-image: url(../img/music/videos/fave-100-85-029a.jpg);}
.bg-85-028 { background-image: url(../img/music/videos/fave-100-85-028a.jpg);}
.bg-85-027 { background-image: url(../img/music/videos/fave-100-85-027a.jpg);}
.bg-85-026 { background-image: url(../img/music/videos/fave-100-85-026a.jpg);}
.bg-85-025 { background-image: url(../img/music/videos/fave-100-85-025a.jpg);}
.bg-85-024 { background-image: url(../img/music/videos/fave-100-85-024a.jpg);}
.bg-85-023 { background-image: url(../img/music/videos/fave-100-85-023a.jpg);}
.bg-85-022 { background-image: url(../img/music/videos/fave-100-85-022a.jpg);}
.bg-85-021 { background-image: url(../img/music/videos/fave-100-85-021a.jpg);}
.bg-85-020 { background-image: url(../img/music/videos/fave-100-85-020a.jpg);}
.bg-85-019 { background-image: url(../img/music/videos/fave-100-85-019a.jpg);}
.bg-85-018 { background-image: url(../img/music/videos/fave-100-85-018a.jpg);}
.bg-85-017 { background-image: url(../img/music/videos/fave-100-85-017a.jpg);}
.bg-85-016 { background-image: url(../img/music/videos/fave-100-85-016a.jpg);}
.bg-85-015 { background-image: url(../img/music/videos/fave-100-85-015a.jpg);}
.bg-85-014 { background-image: url(../img/music/videos/fave-100-85-014a.jpg);}
.bg-85-013 { background-image: url(../img/music/videos/fave-100-85-013a.jpg);}
.bg-85-012 { background-image: url(../img/music/videos/fave-100-85-012a.jpg);}
.bg-85-011 { background-image: url(../img/music/videos/fave-100-85-011a.jpg);}
.bg-85-010 { background-image: url(../img/music/videos/fave-100-85-010a.jpg);}
.bg-85-009 { background-image: url(../img/music/videos/fave-100-85-009a.jpg);}
.bg-85-008 { background-image: url(../img/music/videos/fave-100-85-008a.jpg);}
.bg-85-007 { background-image: url(../img/music/videos/fave-100-85-007a.jpg);}
.bg-85-006 { background-image: url(../img/music/videos/fave-100-85-006a.jpg);}
.bg-85-005 { background-image: url(../img/music/videos/fave-100-85-005a.jpg);}
.bg-85-004 { background-image: url(../img/music/videos/fave-100-85-004a.jpg);}
.bg-85-003 { background-image: url(../img/music/videos/fave-100-85-003a.jpg);}
.bg-85-002 { background-image: url(../img/music/videos/fave-100-85-002a.jpg);}
.bg-85-001 { background-image: url(../img/music/videos/fave-100-85-001a.jpg);}

