
.bg-7079-100 { background-image: url(../img/music/videos/fave-100-7079-100.jpg);}
.bg-7079-099 { background-image: url(../img/music/videos/fave-100-7079-099.jpg);}
.bg-7079-098 { background-image: url(../img/music/videos/fave-100-7079-098.jpg);}
.bg-7079-097 { background-image: url(../img/music/videos/fave-100-7079-097.jpg);}
.bg-7079-096 { background-image: url(../img/music/videos/fave-100-7079-096.jpg);}
.bg-7079-095 { background-image: url(../img/music/videos/fave-100-7079-095.jpg);}
.bg-7079-094 { background-image: url(../img/music/videos/fave-100-7079-094.jpg);}
.bg-7079-093 { background-image: url(../img/music/videos/fave-100-7079-093.jpg);}
.bg-7079-092 { background-image: url(../img/music/videos/fave-100-7079-092.jpg);}
.bg-7079-091 { background-image: url(../img/music/videos/fave-100-7079-091.jpg);}
.bg-7079-090 { background-image: url(../img/music/videos/fave-100-7079-090.jpg);}
.bg-7079-089 { background-image: url(../img/music/videos/fave-100-7079-089.jpg);}
.bg-7079-088 { background-image: url(../img/music/videos/fave-100-7079-088.jpg);}
.bg-7079-087 { background-image: url(../img/music/videos/fave-100-7079-087.jpg);}
.bg-7079-086 { background-image: url(../img/music/videos/fave-100-7079-086.jpg);}
.bg-7079-085 { background-image: url(../img/music/videos/fave-100-7079-085.jpg);}
.bg-7079-084 { background-image: url(../img/music/videos/fave-100-7079-084.jpg);}
.bg-7079-083 { background-image: url(../img/music/videos/fave-100-7079-083.jpg);}
.bg-7079-082 { background-image: url(../img/music/videos/fave-100-7079-082.jpg);}
.bg-7079-081 { background-image: url(../img/music/videos/fave-100-7079-081.jpg);}
.bg-7079-080 { background-image: url(../img/music/videos/fave-100-7079-080.jpg);}
.bg-7079-079 { background-image: url(../img/music/videos/fave-100-7079-079.jpg);}
.bg-7079-078 { background-image: url(../img/music/videos/fave-100-7079-078.jpg);}
.bg-7079-077 { background-image: url(../img/music/videos/fave-100-7079-077.jpg);}
.bg-7079-076 { background-image: url(../img/music/videos/fave-100-7079-076.jpg);}
.bg-7079-075 { background-image: url(../img/music/videos/fave-100-7079-075.jpg);}
.bg-7079-074 { background-image: url(../img/music/videos/fave-100-7079-074.jpg);}
.bg-7079-073 { background-image: url(../img/music/videos/fave-100-7079-073.jpg);}
.bg-7079-072 { background-image: url(../img/music/videos/fave-100-7079-072.jpg);}
.bg-7079-071 { background-image: url(../img/music/videos/fave-100-7079-071.jpg);}
.bg-7079-070 { background-image: url(../img/music/videos/fave-100-7079-070.jpg);}
.bg-7079-069 { background-image: url(../img/music/videos/fave-100-7079-069.jpg);}
.bg-7079-068 { background-image: url(../img/music/videos/fave-100-7079-068.jpg);}
.bg-7079-067 { background-image: url(../img/music/videos/fave-100-7079-067.jpg);}
.bg-7079-066 { background-image: url(../img/music/videos/fave-100-7079-066.jpg);}
.bg-7079-065 { background-image: url(../img/music/videos/fave-100-7079-065.jpg);}
.bg-7079-064 { background-image: url(../img/music/videos/fave-100-7079-064.jpg);}
.bg-7079-063 { background-image: url(../img/music/videos/fave-100-7079-063.jpg);}
.bg-7079-062 { background-image: url(../img/music/videos/fave-100-7079-062.jpg);}
.bg-7079-061 { background-image: url(../img/music/videos/fave-100-7079-061.jpg);}
.bg-7079-060 { background-image: url(../img/music/videos/fave-100-7079-060.jpg);}
.bg-7079-059 { background-image: url(../img/music/videos/fave-100-7079-059.jpg);}
.bg-7079-058 { background-image: url(../img/music/videos/fave-100-7079-058.jpg);}
.bg-7079-057 { background-image: url(../img/music/videos/fave-100-7079-057.jpg);}
.bg-7079-056 { background-image: url(../img/music/videos/fave-100-7079-056.jpg);}
.bg-7079-055 { background-image: url(../img/music/videos/fave-100-7079-055.jpg);}
.bg-7079-054 { background-image: url(../img/music/videos/fave-100-7079-054.jpg);}
.bg-7079-053 { background-image: url(../img/music/videos/fave-100-7079-053.jpg);}
.bg-7079-052 { background-image: url(../img/music/videos/fave-100-7079-052.jpg);}
.bg-7079-051 { background-image: url(../img/music/videos/fave-100-7079-051.jpg);}
.bg-7079-050 { background-image: url(../img/music/videos/fave-100-7079-050.jpg);}
.bg-7079-049 { background-image: url(../img/music/videos/fave-100-7079-049.jpg);}
.bg-7079-048 { background-image: url(../img/music/videos/fave-100-7079-048.jpg);}
.bg-7079-047 { background-image: url(../img/music/videos/fave-100-7079-047.jpg);}
.bg-7079-046 { background-image: url(../img/music/videos/fave-100-7079-046.jpg);}
.bg-7079-045 { background-image: url(../img/music/videos/fave-100-7079-045.jpg);}
.bg-7079-044 { background-image: url(../img/music/videos/fave-100-7079-044.jpg);}
.bg-7079-043 { background-image: url(../img/music/videos/fave-100-7079-043.jpg);}
.bg-7079-042 { background-image: url(../img/music/videos/fave-100-7079-042.jpg);}
.bg-7079-041 { background-image: url(../img/music/videos/fave-100-7079-041.jpg);}
.bg-7079-040 { background-image: url(../img/music/videos/fave-100-7079-040.jpg);}
.bg-7079-039 { background-image: url(../img/music/videos/fave-100-7079-039.jpg);}
.bg-7079-038 { background-image: url(../img/music/videos/fave-100-7079-038.jpg);}
.bg-7079-037 { background-image: url(../img/music/videos/fave-100-7079-037.jpg);}
.bg-7079-036 { background-image: url(../img/music/videos/fave-100-7079-036.jpg);}
.bg-7079-035 { background-image: url(../img/music/videos/fave-100-7079-035.jpg);}
.bg-7079-034 { background-image: url(../img/music/videos/fave-100-7079-034.jpg);}
.bg-7079-033 { background-image: url(../img/music/videos/fave-100-7079-033.jpg);}
.bg-7079-032 { background-image: url(../img/music/videos/fave-100-7079-032.jpg);}
.bg-7079-031 { background-image: url(../img/music/videos/fave-100-7079-031.jpg);}
.bg-7079-030 { background-image: url(../img/music/videos/fave-100-7079-030.jpg);}
.bg-7079-029 { background-image: url(../img/music/videos/fave-100-7079-029.jpg);}
.bg-7079-028 { background-image: url(../img/music/videos/fave-100-7079-028.jpg);}
.bg-7079-027 { background-image: url(../img/music/videos/fave-100-7079-027.jpg);}
.bg-7079-026 { background-image: url(../img/music/videos/fave-100-7079-026.jpg);}
.bg-7079-025 { background-image: url(../img/music/videos/fave-100-7079-025.jpg);}
.bg-7079-024 { background-image: url(../img/music/videos/fave-100-7079-024.jpg);}
.bg-7079-023 { background-image: url(../img/music/videos/fave-100-7079-023.jpg);}
.bg-7079-022 { background-image: url(../img/music/videos/fave-100-7079-022.jpg);}
.bg-7079-021 { background-image: url(../img/music/videos/fave-100-7079-021.jpg);}
.bg-7079-020 { background-image: url(../img/music/videos/fave-100-7079-020.jpg);}
.bg-7079-019 { background-image: url(../img/music/videos/fave-100-7079-019.jpg);}
.bg-7079-018 { background-image: url(../img/music/videos/fave-100-7079-018.jpg);}
.bg-7079-017 { background-image: url(../img/music/videos/fave-100-7079-017.jpg);}
.bg-7079-016 { background-image: url(../img/music/videos/fave-100-7079-016.jpg);}
.bg-7079-015 { background-image: url(../img/music/videos/fave-100-7079-015.jpg);}
.bg-7079-014 { background-image: url(../img/music/videos/fave-100-7079-014.jpg);}
.bg-7079-013 { background-image: url(../img/music/videos/fave-100-7079-013.jpg);}
.bg-7079-012 { background-image: url(../img/music/videos/fave-100-7079-012.jpg);background-position:right top;}
.bg-7079-011 { background-image: url(../img/music/videos/fave-100-7079-011.jpg);}
.bg-7079-010 { background-image: url(../img/music/videos/fave-100-7079-010.jpg);}
.bg-7079-009 { background-image: url(../img/music/videos/fave-100-7079-009.jpg);}
.bg-7079-008 { background-image: url(../img/music/videos/fave-100-7079-008.jpg);}
.bg-7079-007 { background-image: url(../img/music/videos/fave-100-7079-007.jpg);}
.bg-7079-006 { background-image: url(../img/music/videos/fave-100-7079-006.jpg);}
.bg-7079-005 { background-image: url(../img/music/videos/fave-100-7079-005.jpg);}
.bg-7079-004 { background-image: url(../img/music/videos/fave-100-7079-004.jpg);}
.bg-7079-003 { background-image: url(../img/music/videos/fave-100-7079-003.jpg);}
.bg-7079-002 { background-image: url(../img/music/videos/fave-100-7079-002.jpg);}
.bg-7079-001 { background-image: url(../img/music/videos/fave-100-7079-001.jpg);}
