.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -40px;
    left: 0;
    z-index: 15;
    width: 100%;
    text-align: right;
    list-style: none; 
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.carousel-indicators li {
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 0 2px;
    padding: 0;
    border-radius: 100%;
    border: 2px solid rgba(255,255,255,.5);
    background-color: transparent;
    position: relative;
    flex: none;
    box-sizing: inherit;
}
.carousel-indicators li:hover::after, 
.carousel-indicators li:active::after,
.carousel-indicators li.active::after {
    position: absolute;
    height: 16px;
    width: 16px;
    display: block;
    content: '';
    background-color: rgba(255,255,255,.9);
    border-radius: 100%;
    top: 2px;
    left: 2px;
    transition: all 0.25s ease;
}
.carousel-indicators li:hover {
    border: 2px solid rgba(255,255,255,.75);

}
.carousel-control-next:focus, 
.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover {
    background-color: rgba(255,255,255,.25);
transition: all 0.5s ease;
    
}

.carousel-indicators li:hover::after {
    background-color: rgba(255,255,255,.75);
transition: all 0.5s ease;
    
}

.carousel-indicators-lg li {
    height: 32px;
    width: 32px;
}
.carousel li:before {
    content: normal;
    position: relative;
}

.carousel-indicators .active {
    margin: 0 2px;
    width: 24px;
    height: 24px;
    background-color: transparent;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
/*    background: rgba(0,0,0,.25);*/
    margin: 0 auto;
}

.carousel-content, .carousel-inner {
  min-height: 400px;
      position: relative;
}

.carousel-item .link-button {
    width: auto;
    min-width: 270px;
    z-index:99;
}
.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    z-index: 10;
    color: #fff;
    text-align: center;
    padding:0 0 10px 0;
}
.carousel-caption.pos-rel {
  position: relative !important;
}
.carousel-content h4,
.carousel-content h5,
.carousel-content ol,
.carousel-content ul
 {
    width: 85%;
    max-width:1200px;
    margin: 10px auto 5px auto;
 }

 .carousel-content h4 {
     font-size: 1.5rem;
    padding: 0 0 10px;
}
.carousel-content h5.text-left {
    margin: 5px;
    padding: 0;
}

.carousel-control-next, 
.carousel-control-prev {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
min-width: 40px;
width:auto;
    max-width: 120px;
    margin: 0 5px;
    border-radius: 0.5em;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: transparent no-repeat center center;
    background-size: 50%;
}

span.carousel-control-prev-icon::before,
span.carousel-control-next-icon::before {
    position: absolute;
    top: 42px;
    right: 33.3%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    transform: rotate(45deg);
    border-radius: 1px;
}
span.carousel-control-prev-icon::before {
  transform: rotate(225deg);
  left:33.33%;
}

.carousel-condensed {
  min-height:380px;
}

.carousel-inner, .visible-xs-block {
    margin: 0 0 3em 0;
}

a.carousel-control:active {
    background: none;
}
.carousel-inner .item img {
  margin:0 auto;
}

.carousel-wrapper {
  height:100%;
  position:absolute;
  width:100%;
  margin:0 auto;
}
.carousel-item-caption {
    margin: 0;
    padding: 0;
    width:100%;height:100%;
    position: fixed;
    bottom: 0;
      background: rgba(0,0,0,0.5);

}
.carousel-item a:active {
  background:none;
}

.carousel,
.carousel-inner,
.carousel-item {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 400px;
}

.carousel.slide button.carousel-control-prev:hover,
.carousel.slide button.carousel-control-next:hover {
    background-color: rgba(0,0,0,.25);
}

.carousel-item {
    max-width: 89%;
    left: 5.5% !important;
  }
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
    flex: 0 1 auto;
    width: 40px;
    height: 5px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
    background-clip: padding-box;
    border: 0;
    border-top: none;
    border-bottom: none;
    border-radius:4px;
}
.carousel-indicators {
    max-width:75%;
    border-radius: 1rem;/*
    background-color:rgba(0,0,0,.5);*/
    padding:1rem;
}
.carousel-indicators button {
    min-width:30px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
@media screen and (max-width:480px) {


.carousel-caption.pos-rel {
      bottom: 20px;
      position: absolute !important;
    }
.carousel-control-next, .carousel-control-prev {

    background-color: transparent;
}
.carousel-content h4 {
    margin: 5px auto !important;
    padding: 5px 0;
    font-size: 24px;
}
.card.bg-none h5 {
    padding: 0;
    font-size: 21px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
}

@media screen and (min-width:480px) {
.carousel-caption.pos-rel {
      bottom: 25px;
    position: absolute !important;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
}

@media screen and (min-width:600px) {

.carousel-content, .carousel-inner {
  min-height: 420px;
}
.carousel-item .link-button {
    font-size: 18px;
}

span.carousel-control-prev-icon::before,
span.carousel-control-next-icon::before {
    top: 200px;
    height:32px;
    width:32px;
    transition: all ease-out .15s;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

}
@media screen and (min-width:992px) {

span.carousel-control-prev-icon::before, span.carousel-control-next-icon::before {
    position: absolute;
    top: 45%;
}

.carousel-caption.pos-rel {
      bottom:40px;
    }


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */